#nav1{
    display: flex;
    flex-direction: row;
    background-color: aquamarine;
}
#nav2{
    display: flex;
    flex-direction: row;
}
li{
    color: red;
    padding: 12px;
    margin: 28px;
    display: inline;
}
li:hover{
    color: blanchedalmond;
}
#hotel{
    display: grid;
    grid-template-columns: repeat(3,1fr);

}
#hotel img{
    width: 250px;
    height: 250px;
    margin: 23px;
    border: 12px solid blue;
    object-fit: cover;
    transition: all ease-in-out 100ms;
}
#hotel img:hover{
    transform: scale(1.2);
}